.img-circle{
	max-height: 40px;
	margin: 5px 0px 5px 0px;
 
}
.img-rounded{

	max-width: 100%;
}

img.photo {
	max-width: 100%;
	height: auto;
}
span > a{
	color: #eee; 
}

.navbar {
    background-color: #333;
    border-radius: 0px;
    color: #eee;
    border-bottom: 1px solid #5cb85c;
}
	.navbar a{
		color: #eee;
	}
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus{
		color: #5cb85c;
		background-color: #333;
	}

	.navbar-btn{
		margin-right: 12px;
	}

	a.navbar-brand:hover,
	a.navbar-brand:focus{
		color:#5cb85c;
	}
	.dropdown-toggle{
		color:#eee;
	}
	.navbar-toggle .icon-bar {
	    background-color: #fff;
	}
	.dropdown-menu{
		background-color: #333;
		color:#eee;
		}
		.navbar-nav > .dropdown > a:hover,
		.navbar-nav > .dropdown > a:focus{
			background-color: #333;
			color:#5cb85c;
		}
		.navbar-nav .open .dropdown-menu > li > a {
			background-color: #333;
		    color: #eee;
		}
		.navbar-nav .open .dropdown-menu > li > a:hover,
		.navbar-nav .open .dropdown-menu > li > a:focus {
		    color: #5cb85c;
		    background-color: #333;
		}

.form-group .form-control{
	max-width: 450px;
}

.form-short .form-control{
	max-width: 250px;
}

form #avatar{
	max-width: 120px;
}

input[type="file"] {
     display: inline;
}

input[type=checkbox]{
	margin: 0px;
} 
.badge label{
	margin: 0px;
	padding: 1px; 
}

.que{
	border: 1px #eee solid;
	border-radius: 6px;
	padding:5px 10px 5px 10px; 
	min-height: 85px;
	margin-bottom: 15px;
	background-color: #fff;
}
	.que .user{
				margin-right: 5px;
			    width: auto;
			    height: auto;

	}

	.que a.nickname{
		line-height: 50px;
		font-size: 15px;
		color: #0f0f0f;
		text-decoration: none;
	}

	.que a.nickname:hover,
	.que a.nickname:focus{
		color: #3c3c3c;
	}
.tags{
	font-size: 15px;
}
.question{
	border: 1px #EEE solid;
	border-radius: 6px;
}
	.question-header{
		background-color: #fff;
		min-height: 30px;
	}
	a.question-title {
		font-size: 20px;
	}
		.question-header a.user{
			margin-right: 10px;
		    width: auto;
		    height: auto;
		}
		.question-meta{
			font-size: 12px;
			color: #777;
		}
	.question-body{
		padding: 10px;
		clear: both;
	}	

.fleft{
	float: left; 
}

.comment{
	border: 1px #EEE solid;
	border-radius: 6px;
	padding:5px 10px;
	margin-bottom: 15px;
	min-height: 75px;
	
}
	.comment-body{
		margin-left: 75px;
		font-size: 15px;
	}
		.comment-body ul{
			padding-left: 0px;
		}
		.comment-body ul li{
			display: inline-block;
			margin-right: 5px;
		}
		.comment .user{
		    width: 60px;
		    height: 60px;
		}	
		.comment-meta{
			font-size: 12px;
			color: #777;
		}


footer {
	margin-top: 50px;
    height: 20px;
	border-top: 1px solid #5cb85c;
    background-color: #333;
}
footer .glyphicon-heart{

	color: #A94442;
}