<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>photo_id</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="css/my.css">
</head>
<body>
<nav class="navbar" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="home.html">Squary</a>
        </div>

        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav navbar-right center-block">
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                        </div>
                    </form>
                </li>

                <li>
                    <form action="create.html">
                        <input value="Create" type="submit" class="btn btn-success navbar-btn">
                    </form>
                    <!--<button href="{%url 'polls:ask' %}" type="button" class="btn btn-success navbar-btn">Ask!</button>-->
                </li>

                <li>
                    <img src="jpg/k7BF1vsXveY.jpg" alt="Responsive image" class="img-circle center-block">
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Devernua<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="settings.html">Settings</a></li>
                        <li><a href="logout.html">Logout</a></li>
                    </ul>
                </li>

                <!--{% else %}
                <li>
                    <a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Log In</a>

                    <a href="{% url 'polls:register' %}"><span class="glyphicon glyphicon-user"></span> Registration</a>
                </li>

                {% endif %} -->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>


<div class="container" role="main">
    <div class="page-header text-center">
        <h2></h2>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 view">
            <div class="col-md-7 question-body">
                <img src="jpg/L187Wt6qbbc.jpg" class="photo">
            </div>
            <div class="col-md-5 view-inf">
                <div class="question-header">
                    <a class="user fleft" href="user.html">
                        <img src= "jpg/k7BF1vsXveY.jpg" alt="Devernua" class="img-circle">
                    </a>
                    <a class="nickname" href="user.html">Devernua</a>

                    <div><ul>
                        <li><a href="#"><span role="button" class="like badge control">
                            <span class="updatable count">10</span>
                            <span  class="glyphicon glyphicon-heart"></span>
                        </span></a></li>

                        <li><span role="button" class="time badge">
                            <span>2.05.16</span>
                            <span class="glyphicon glyphicon-time"></span>
                        </span></li>

                        <li><a href="#"><span role="button" class="share badge">
                            <span>Share</span>
                            <span  class="glyphicon glyphicon-share"></span>
                        </span></a></li>

                        <li><a href="#" ><span role="button" class="subscribe badge">
                            <span>Subscribe</span>
                            <span class="glyphicon glyphicon-check"></span>
                        </span></a></li>
                    </ul></div>
                </div>

                <div class="comment">
                    <div class="comment-body">
                        <a href="#" class="nickname">Sally</a>
                        <span class="comment-text">wow</span>
                        <span href="#" class="comment-meta">28.09.16</span>

                    </div>

                    <div class="comment-body">
                        <a href="#" class="nickname">Cesar</a>
                        <span class="comment-text">nice pic! oooh i love it soooooo much much much!!!!!!!</span>
                        <span href="#" class="comment-meta">28.09.16</span>

                    </div>

                    <div class="comment-body">
                        <a href="#" class="nickname">Devernua</a>
                        <span class="comment-text">Thanks</span>
                        <span href="#" class="comment-meta">28.09.16</span>

                    </div>
                    <div class="comment-body">
                        <a href="#" class="nickname">Sally</a>
                        <span class="comment-text">wow</span>
                        <span href="#" class="comment-meta">28.09.16</span>

                    </div>


                    <div class="comment-body">
                        <a href="#" class="nickname">Cesar</a>
                        <span class="comment-text">nice pic! oooh i love it soooooo much much!!!!!!!nice nice nice nice nice nicenice nice nicenice nice nicenice nice nicenice nice nicenice nice nicenice nice nicenice nice nicenice nice nice very beatiful kitty, i want it</span>
                        <span href="#" class="comment-meta">28.09.16</span>

                    </div><div class="comment-body">
                    <a href="#" class="nickname">Cesar</a>
                    <span class="comment-text">nice pic! oooh i love it soooooo much much!!!!!!!nice nice nice nice nice nicenice nice nicenice nice nicenice nice nicenice nice nicenice nice nicenice nice nicenice nice nicenice nice nice very beatiful kitty, i want it</span>
                    <span href="#" class="comment-meta">28.09.16</span>

                </div>

                </div>

                <div class="answer">
                    <form role="form" action="answer" method="POST">
                        <input type="text" class="form-control" placeholder="Input your comment">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>