{% load staticfiles %}

{% include "posts/head.html" %}
<body>
{% include "posts/hut.html" %}

<div class="container" role="main">
    <div class="page-header text-center">
        <h2></h2>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 view">
            <div class="col-md-7 post-body">
                <img src="{{image.img.url}}" class="photo">
            </div>
            <div class="col-md-5 view-inf">
                <div class="post-header">
                    <a class="user fleft" href="user.html">
                        <img src= "{{image.author.avatar.url}}" alt="Devernua" class="img-circle">
                    </a>
                    <div>
                        <a class="nickname" href="user.html">{{image.author.username}}</a>
                    </div>
                    <div class="post-menu"><ul>
                        <li><a href="#"><span role="button" class="like badge control">
                            <span class="updatable count">{{image.rating_set.all.count}}</span>
                            <span  class="glyphicon glyphicon-heart"></span>
                        </span></a></li>

                        <li><span role="button" class="time badge">
                            <span>{{image.pdate|date:"y.m.d"}}</span>
                            <span class="glyphicon glyphicon-time"></span>
                        </span></li>

                        <li><a href="#"><span role="button" class="share badge">
                            <span>Share</span>
                            <span  class="glyphicon glyphicon-share"></span>
                        </span></a></li>

                        <li><a href="#" ><span role="button" class="subscribe badge">
                            <span>Subscribe</span>
                            <span class="glyphicon glyphicon-check"></span>
                        </span></a></li>
                    </ul></div>
                </div>


                <div class="comment">
                {% for comment in image.comment_set.all %}
                    <div class="comment-body">
                        <a href="#" class="nickname">{{comment.author.username}}</a>
                        <span class="comment-text">{{comment.text}}</span>
                        <span href="#" class="comment-meta">{{comment.pdate}}</span>
                    </div>
                {% endfor %}
                </div>

                {% if user.is_authenticated %}
                    <div class="answer">
                        {% include "posts/comment.html" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

</body>
</html>
